.input_checkbox__label {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
}

.input_checkbox {
  width: 0;
  height: 0;
  opacity: 0;
}

.input_checkbox__label > span {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  border: 2px solid white;
  margin-right: 15px;
  border-radius: 3px;
  transition: all 0.3s;
}

.input_checkbox:checked + label > span {
  border: 10px solid white;
  animation: bounce 250ms;
}

.input_checkbox:checked + label > span::before {
  content: '';
  position: absolute;
  top: 9px;
  left: 4px;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  transform: rotate(45deg);
  transform-origin: 0% 100%;
  animation: checked-box 125ms 250ms forwards;
}

@keyframes checked-box {
  0% {
    width: 0;
    height: 0;
    border-color: #004f44;
    transform: translate(0, 0) rotate(45deg);
  }
  33% {
    width: 4px;
    height: 0;
    border-color: #004f44;
    transform: translate(0, 0) rotate(45deg);
  }
  100% {
    width: 4px;
    height: 8px;
    border-color: #004f44;
    transform: translate(0, -8px) rotate(45deg);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  33% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
