.card__image {
  min-width: 288px;
  transition: 0.5s;
  height: 288px;
}

.card__content {
  font-size: 16px;
  padding: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card {
  max-width: 290px;
  cursor: pointer;
  background-color: #057a698c;
}

.card__title {
  font-weight: bold;
}

.card__titleBlock {
  display: flex;
  justify-content: space-between;
}

.card__author,
.card__location {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
