.select {
  margin-top: 5px;
  color: #666666;
  font-weight: 400;
  font-size: 16px;
  padding: 16px;
  width: 364px;
  height: 56px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 8px;
}

.select:focus {
  outline: none;
}
